.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  /* margin-top: 40px; */
}

.featureSvg {
  height: 50px;
  width: 50px;
}

.customFeatureIcon {
  height: 48px;
  width: 48px;
  background-color: rgba(142, 150, 170, .14);
  border-radius: 6px;
  margin-bottom: 10px;
}

.featureIcon {
  height: 48px;
  width: 48px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customFeatureBox {
  background-color: #f6f6f7;
  border-radius: 12px;
  padding: 20px;
}

/* customFeatureBox */

@media (max-width: 996px) {
  .customFeatureBox {
    margin-top: 20px;
  }
}

.featureText {
  font-size: 14px;
  line-height: 20px;
  color: #5f6368;
}